<% include('partials/header') %>
<h2>Login</h2>
<form action="/auth/login" method="POST">
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-wa">Login</button>
</form>
<% include('partials/footer') %>
